:root{
    --color-primary: #08a6e4;
    --color-primary-shadow: rgba(7, 172, 230, 0.16);
    --color-redish: #fb3b64;
    --color-green: #55dfb4;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-grey: #a5a5a5;
    --color-light-grey: #f7f7f7;
    --button-radius: 35px;
    --font-raleway: "Raleway", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
}
*{
    box-sizing: border-box;
}
body {
    font-family: var(--font-open-sans);
}

a {
    text-decoration: none;
}
/*header*/
.header {
    height: 70px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
/*logo*/
.logo {
    font-family: var(--font-raleway);
    font-size: 2rem;
    font-weight: 300;
    color: var(--color-primary);
}
/* nav*/
.header__nav {
    display: flex;
}
.nav__link {
    color: var(--color-grey);
    font-weight: 700;
    font-size: 0.6875rem;
    text-transform: uppercase;
    padding: 28px 18px 22px;
    border-bottom: 4px solid transparent;
    letter-spacing: 0.1875rem;
}

.nav__link:hover {
    color: var(--color-black);
    border-color: var(--color-primary);
}
.nav__element {
    padding: 0 26px;
}
.nav__element:last-child {
    padding-right: 0;
}
/*opening*/
.opening{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.opening__content{
    margin-top: 130px;
    text-align: center;
}
.opening__header{
    font-family: var(--font-raleway);
    font-size: 3.0625rem;
}
.opening__heading{
    margin-bottom: 38px;
    margin-top: 20px;
}
.opening__image{
    width: 100%;
    height: auto;
}
.container{
    width: 1352px;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}
/* btn*/
.btn {
    color: white;
    font-weight: bold;
    display: inline-block;
    padding: 16px 65px;
    border-radius: var(--button-radius);
    border: none;
}

.btn--primary {
    background-color: var(--color-primary);
    border-radius: var(--button-radius);
    box-shadow: 3px 10px 14px var(--color-primary-shadow);
}

.btn--large {
    padding: 22px 155px;
}
/* statistics*/

.statistics{
    margin-top: 100px;
}

.container{
    display: inline-block;
    justify-content: space-between;
}
.statistics__title{
    text-align: center;
    font-size: 36px;
    font-family: var(--font-raleway);
}
.statistics__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px auto 120px;
    max-width: 800px;

}
h2 {
    font-family: var(--font-raleway);
    font-size: 2.25rem;
}
.statistics__single{
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: var(--font-raleway);
    justify-content: flex-start;
    max-width: 160px;
    text-align: center;
}
.statistics__circle{
    border-radius: 50%;
    width: 63px;
    height: 63px;
    position: relative;
}
.statistics__img{
    position: absolute;
}
/* circles*/
.statistics__single:nth-child(1) .statistics__circle {
    background-color: var(--color-redish);
}

.statistics__single:nth-child(1) .statistics__img {
    top: 0;
    left: 45%;
}

.statistics__single:nth-child(2) .statistics__circle {
    background-color: var(--color-primary);
}

.statistics__single:nth-child(2) .statistics__img {
    top: 14px;
    left: 47%;
}

.statistics__single:nth-child(3) .statistics__circle {
    background-color: var(--color-green);
}

.statistics__single:nth-child(3) .statistics__img {
    top: 6px;
    left: 50%;
}
.statistics__number {
    font-size: 1.25rem;
    font-weight: 800;
    letter-spacing: 0.1875rem;
    margin-top: 13px;
}

.statistics__description {
    color: var(--color-grey);
    margin-top: 19px;
}
/*benefits*/
.benefits {
    margin-top: 200px;
    padding: 100px 0;
    background-color: var(--color-light-grey);
}

.benefits__container {
    padding: 0 100px;
}
.benefits__single {
    background-color: var(--color-white);
    border: 1px solid #E8E9ED;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 37px;
    border-radius: 5px;
}
.benefits__text {
    max-width: 415px;
    margin: 90px 36px;
}

.benefits__text::after {
    content: "";
    width: 332px;
    height: 4px;
    background-color: var(--color-redish);
    display: block;
    margin-top: 50px;
}

.benefits__description {
    margin-top: 30px;
    line-height: 1.375rem;
}
.benefits__image {
    position: relative;
}

.benefits__image img {
    position: relative;
    z-index: 2;
}
.benefits__single--notebook {
    --accent-color: var(--color-redish);
}
.benefits__single--notebook .benefits__image {
    margin-right: 117px;
    margin-bottom: 38px;
}
.benefits__single--notebook .benefits__image::before {
    content: "";
    width: 180px;
    height: 180px;
    background-color: var(--accent-color);
    display: block;
    border-radius: 40px;
    position: absolute;
    right: 0;
    top: -40px;
    transform: rotate(45deg);
}
.benefits__single--notebook .benefits__image img {
    width: 386px;
    height: auto;
}
.benefits__single--phone {
    --accent-color: var(--color-primary);
    flex-direction: row-reverse;
    padding: 0 20px 0 70px;
}

.benefits__single--phone .benefits__image::before {
    content: "";
    width: 320px;
    height: 320px;
    background-color: var(--accent-color);
    display: block;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: -20px;
}

.benefits__single--phone .benefits__image img {
    width: 426px;
    height: auto;
}

.benefits__single--phone .benefits__text {
    margin: 70px 0;
}
.benefits__double {
    --accent-color: var(--color-green);
    display: flex;
}
.benefits__double > div {
    margin-bottom: 0;
}
.benefits__single--solo {
    max-width: 620px;
}

.benefits__single--solo .benefits__text {
    max-width: none;
    margin: 70px 35px;
}
.benefits__single--image {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color);
    border: none;
    margin-left: 60px;
}

.benefits__single--image img {
    width: 295px;
    height: auto;
    margin-top: 55px;
}

