*{
  box-sizing: border-box;
}
main{
  display: block;
  width: auto;
  background-color: #f7f7f7;
}

body {
  width: 100%;
  border: 0;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  line-height: 1;
}

a {
  text-decoration: none;
}
h2 {
  font-family: $font-raleway;
  font-size: 2.25rem;
}
.container {
  width: 1352px;
  margin: 0 auto;

  @include notebook {
    width: 100%;
    padding: 0 15px;
  }
}
#contact{
  padding: 80px 100px 100px;
  display: flex;
  height: 600px;
  justify-content: center;
  background: $color-white;
}
#prices{
  height: 800px;
  background: $color-white;
}
@media (min-width: 500px) {
  .sidebar {
    display: none;
  }
}