.header {
  height: 70px;
  width: auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.header-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.logo {
  font-family: $font-raleway;
  font-size: 2rem;
  font-weight: 300;
  color: $color-primary;
  padding-bottom: 16px;
  padding-left: 136px;
  width: 142px;
  height: 37px;

}

.header-nav {
  display: flex;
  justify-content: flex-end;
}
.nav-element {
  padding: 0 26px;
}
.nav-link {
  color: $color-primary;
  font-weight: 700;
  font-size: 0.6875rem;
  text-transform: uppercase;
  padding: 28px 18px 22px;
  border-bottom: 4px solid transparent;
  letter-spacing: 0.1875rem;
  top: 28px;
  left: 946px;
  width: 60px;
  height: 15px;

}

.nav-link:hover {
  color: $color-black;
  border-color: $color-primary;
}

.nav-element:last-child {
  padding-right: 0;
}
