.pricing {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 100px auto;
}
.container h2{
  font-family: $font-raleway;
  font-size: 30px;
}
.pricing.container {
}
.pricing-boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.pricing-box {
  width: 370px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid $color-primary;
}
.pricing-details {
  margin-bottom: 60px;
  margin-top: 34px;
  text-align: center;
}

.pricing-type {
  font-size: 1.25rem;
  font-family: $font-raleway;
  font-weight: 700;
}

.pricing-price {
  font-size: 2.875rem;
  font-family: $font-open-sans;
  font-weight: 300;
  margin-top: 25px;
  color: $color-primary;
}

.pricing-limited {
  text-align: center;
  margin-top: 15px;
  font-size: 0.75rem;
  font-family: $font-raleway;
  font-weight: 700;
}
.pricing-items {
  text-align: center;
}

.pricing-item {
  font-size: 14px;
  margin-bottom: 20px;
}
.pricing-item::before {
  content: "";
  width: 11px;
  height: 11px;
  display: inline-block;
  margin-right: 10px;

}

.pricing-item-not::before {

}
.pricing-box .btn {
  position: relative;
  bottom: -25px;
  font-size: 0.8125rem;
  background-color: $color-primary;

}
.pricing-box-basic {
  border-color: $color-redish;
  margin-bottom: 30px;
}
.pricing-box-professional {
  color: $color-primary;
  width: 400px;
  margin: 0 40px;
  box-shadow: 5px 1px 27px $color-primary-shadow;
}

.pricing-box-professional .pricing-type {
  font-size: 1.3125rem;
}

.pricing-box-professional .pricing-item {
  margin-bottom: 25px;
}
.pricing-box-premium {
  border-color: $color-green;
}

a.btn {
  color: white;
  font-weight: bold;
  display: inline-block;
  padding: 16px 65px;
  border-radius: $button-radius;
  border: none;
  margin-top: 30px;
}

.btn-primary {
  background-color: $color-primary;
  border-radius: $button-radius;
  box-shadow: 3px 10px 14px $color-primary-shadow;
  color: $color-white;
}

.btn-large {
  padding: 22px 155px;
}