.benefits {
  background-color: $color-light-grey;
  padding: 100px 0;
}

.benefits-container{
  padding: 0 100px;
}
.benefits-single {
  background-color: $color-white;
  border: 1px solid #e8e9ed;
  border-radius: 5px;
  margin-bottom: 37px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.benefits-single-notebook{
  color: $color-redish;
}
.benefits-text {
  box-sizing: content-box;
  margin: 90px 36px;
  max-width: 415px;
}
h2 {
  font-family: Raleway,sans-serif;
  font-size: 2.25rem;
  color: $color-black;
}

.benefits-description {
  margin-top: 30px;
  line-height: 1.375rem;
  color: $color-black;
}
.benefits-text::after {
  content: "";
  display: block;
  background-color: $color-redish;
  width: 332px;
  height: 4px;
  margin-top: 50px;

}

.benefits-single-notebook .benefits-image {
  margin-bottom: 38px;
  margin-right: 117px;
}

.benefits-image{
  position: relative;
}
.benefits-single-notebook .benefits-image:before  {
  background-color: $color-redish;
  border-radius: 40px;
  content: "";
  display: block;
  height: 180px;
  position: absolute;
  right: 0;
  top: -40px;
  transform: rotate(45deg);
  width: 180px;
}


.benefits-image img {
  position: relative;
  z-index: 3;
}
.benefits-single-notebook {
  color: $color-redish;

}
.benefits-single-notebook .benefits-image {
  margin-right: 117px;
  margin-bottom: 38px;
}

.benefits-single-notebook .benefits-image img {
  width: 386px;
  height: auto;
  position: relative;
  z-index: 2;
}
/*phone*/

.benefits-single-phone {
  color: $color-primary;
  flex-direction: row-reverse;
  padding: 0 20px 0 70px;
}
.benefits-single-phone .benefits-text{
  box-sizing: content-box;
  max-width: 415px;
  margin: 70px 0;
}

.benefits-single-phone .benefits-image::before {
  content: "";
  width: 320px;
  height: 320px;
  background-color: $color-primary;
  display: block;
  border-radius: 50%;
  position: absolute;
}
.benefits-text::after {
  content: "";
  width: 332px;
  height: 4px;
  background-color: $color-primary;
  display: block;
  margin-top: 50px;
}
.benefits-single-phone .benefits-image:before {
  background-color: $color-primary;
  border-radius: 50%;
  content: "";
  display: block;
  height: 320px;
  left: 0;
  position: absolute;
  width: 320px;
}
.benefits-single-phone .benefits-image img {
  width: 426px;
  height: auto;
}

.benefits-single-phone .benefits-text {
  margin: 70px 0;
}
/*double*/

.benefits-double {
  color: $color-green;
  display: flex;
}

.benefits-single-solo {
  max-width: 620px;
}

.benefits-single-solo .benefits-text {
  max-width: none;
  margin: 70px 35px;
}
.benefits-single-image {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-green;
  border: none;
  margin-left: 60px;
}

.benefits-single-image img {
  width: 295px;
  height: auto;
  margin-top: 55px;
}
.benefits-text-solo::after {
  content: "";
  width: 332px;
  height: 4px;
  background-color: $color-green;
  display: block;
  margin-top: 50px;
}

@media (max-width: 1280px) {
  .benefits-single {
    display: flex;
    flex-direction: column;
    max-width: 900px;
  }
  .benefits-container {
    display: flex;
    justify-content: center;
  }
  @media (max-width: 960px) {
    .benefits-container {
      display: flex;
      flex-direction: column;
      max-width: 600px;
    }
  }
  @media (max-width: 768px) {
    .benefits-single {
      display: flex;
      flex-direction: column;
      max-width: 400px;
    }
  }
}





