.header {
  height: 70px;
  width: auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.nav-link {
  border-bottom: 4px solid transparent;
  color: $color-grey;
  font-size: .6875rem;
  font-weight: 700;
  letter-spacing: .1875rem;
  padding: 28px 18px 22px;
  text-transform: uppercase;
  font-family: $font-open-sans;
}
.header-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.container{
  margin:0 auto;
}
.a{
  text-decoration: none;
}
.logo {
  font-family: $font-raleway;
  font-size: 2rem;
  font-weight: 300;
  color: $color-primary;
  padding-bottom: 16px;
  padding-left: 136px;
  width: 142px;
  height: 37px;
}
.header-nav {
  display: flex;
}
.nav-element {
  padding: 0 26px;
}
.nav-link {
  color: $color-primary;
  font-weight: 700;
  font-size: 0.6875rem;
  text-transform: uppercase;
  padding: 28px 18px 22px;
  border-bottom: 4px solid transparent;
  letter-spacing: 0.1875rem;
  top: 28px;
  left: 946px;
  width: 60px;
  height: 15px;

}
  .nav-link:hover {
    color: $color-black;
    border-color: $color-primary;
  }
.nav-element:last-child {
  padding-right: 0;
}
.label.menu-toggle{
  display: none;
}
.menu-btn {
  cursor: pointer;
  display: none;
  position: absolute;
  top: -9999px;
  left: -9999px;
  opacity: 0;
  }

  menu.toggle {
    display: none;
  }
  .span-header {
    width: 20px;
    height: 2px;
    display: block;
    margin-bottom: 3px;
    background-color: $color-primary;
    transition: .3s all ease-in-out;
  }
  span:last-child {
    margin-bottom: 0;
  }
  strong {
    display: none;
  }

@media (max-width: 1920px) {
  .container {
    width: 100vh;
    padding: 0 15px;
  }
  .menu-toggle {
    display: none;
  }
}

@media (max-width: 960px) {
  .nav-element {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
  }
  .logo {
    padding-left: 24px;
  }
  .menu-toggle {
    display: none;
  }
}
@media (max-width: 768px){
  .header{
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .menu-toggle {
    display: flex;
    margin-right: 0;
  }
  .header-nav {
    display: none;
  }
}

@media (max-width: 800px) {
  .header {
    flex-direction: row;
    padding-top: 0;
    padding-bottom: 0;
  }

  .menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 300px;
    height: 100%;
    background: #ffffff;
    box-shadow: 2px 0 10px rgba(#000, 0.3);
    padding: 30px;
    box-sizing: border-box;
    translate: -110% 0;
    transition: 0.2s;
  }
  .menu.is-show {
    translate: 0 0;
  }
}
/* osobna sekcja menu mobile*/

@media (max-width: 350px) {
  .menu{
    position: fixed;
    inset: 0 0 0 10%;
    background-color: $color-white;
    box-shadow: 5px 10px $color-grey;
  }
}