.opening{
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.opening-content{
  margin-top: 130px;
  text-align: center;
}
.opening-header{
  font-family: $font-raleway;
  font-size: 3.0625rem;
  top: 200px;
  left: 700px;
  height: 57px;
  text-align: center;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.opening-text{
    margin-bottom: 38px;
    margin-top: 20px;
    top: 277px;
    left: 621px;
    width: 384px;
    height: 22px;
    text-align: center;
    font-family: $font-open-sans;
    font-weight: 400;
    letter-spacing: 0;
    color: $color-black;
    opacity: 1;

  }

a.btn {
  color: white;
  font-weight: bold;
  display: inline-block;
  padding: 22px 155px;
  border-radius: $button-radius;
  border: none;
  margin-top: 30px;
}

.btn-primary {
  background-color: $color-primary;
  border-radius: $button-radius;
  box-shadow: 3px 10px 14px $color-primary-shadow;
  color: $color-white;
  font-family: $font-open-sans;

}
.opening-image {
  height: auto;
  width: 100%;
}

img {
  vertical-align: middle;
}
img {
  border: 0;
}