.statistics{
  width: 100%;
  display: flex;
  background: $color-white;
  justify-content: center;
}

.container-statistics{
  height: 531px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 100px;
}
.statistic-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  flex-direction: row;
}

.statistic-title{
  font-size: 36px;
  font-family: $font-raleway;
  justify-content: center;
}

h2 {
  font-family: $font-raleway;
  font-size: 2.25rem;
  display: flex;
  align-items: center;
}


.statistic-single{
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: $font-raleway;
  justify-content: flex-start;
  max-width: 160px;
  text-align: center;
  top: 1155px;
  left: 713px;
  width: 176px;
  height: 167px;

}
.statistic-circle{
  border-radius: 50%;
  width: 63px;
  height: 63px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: right;
}
.statistic-img{
  position: absolute;
  width: 44px;
  height: 52px;
  margin-left: -2px;
  align-items: center;
}
/* circles*/
.statistic-single:nth-child(1) .statistic-circle {
  background-color: $color-redish;
}

.statistic-single:nth-child(1) .statistic-img {
  top: 0;
  left: 45%;
}

.statistic-single:nth-child(2) .statistic-circle {
  background-color: $color-primary;
}
/*
.statistic-single:nth-child(2) .statistic-img {
  top: 14px;
  left: 47%;
}
*/
.statistic-single:nth-child(3) .statistic-circle {
  background-color: $color-green;
}

.statistic-single:nth-child(3) .statistic-img {
  top: 6px;
  left: 50%;
}
.statistic-number {
  font-size: 20px;
  font-weight: 800;
  margin-top: 13px;
  top: 1231px;
  left: 412px;
  width: 116px;
  height: 24px;
  text-align: center;
  letter-spacing: 5.96px;
  color: #000000;
  opacity: 1;
}

.statistic-description {
  color: $color-grey;
  margin-top: 19px;
  font-weight: normal;
  line-height: 20px;
}
