.statistics-container{
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  height: 531px;
  background-color: white;
  justify-content: start;
  gap: 100px;
}

.statistics-blocks {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container{
  margin: 0 auto;
}

.statistics-title{
  font-size: 36px;
  font-family: $font-raleway;
  justify-content: center;
}

  h2 {
    font-family: $font-raleway;
    font-size: 2.25rem;
    display: flex;
    align-items: center;
  }

  .statistics-single{
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: $font-raleway;
    justify-content: flex-start;
    max-width: 300px;
    text-align: center;
    top: 1155px;
    left: 713px;
    width: 300px;
    height: 167px;

  }
    .statistics-circle{
      border-radius: 50%;
      width: 63px;
      height: 63px;
      position: relative;

    }
      .statistics-img{
        position: absolute;

      }
/* circles*/
.statistics-single:nth-child(1) .statistics-circle {
  background-color: $color-redish;
}

.statistics-single:nth-child(1) .statistics-img {
  top: 0;
  left: 45%;
}

.statistics-single:nth-child(2) .statistics-circle {
  background-color: $color-primary;
}

.statistics-single:nth-child(2) .statistics-img {
  top: 14px;
  left: 47%;
}

.statistics-single:nth-child(3) .statistics-circle {
  background-color: $color-green;
}

.statistics-single:nth-child(3) .statistics-img {
  top: 6px;
  left: 50%;
}
.statistics-number {
  font-size: 1.25rem;
  font-weight: 800;
  letter-spacing: .1875rem;
  margin-top: 13px;
}

.statistics-description {
  color: $color-grey;
  margin-top: 19px;

}
@media (max-width: 1352px) {
  .container {
    padding: 0 15px;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .statistics-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 500px;
    margin-top: 100px;
    margin-bottom: 0;
  }

  .statistics-title {
    display: flex;
    flex-wrap: wrap;
  }

  @media (max-width: 625px) {
    .statistics-title {
      text-align: center;
    }
  }
}